# IntelliJ project files
.idea
.settings
.classpath
.project
*.iml
*.ipr
*.iws

# Compiled files
out/
target/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Logs
*.log

# User-specific files
*.swp
*~